li.nav-item.dropdown.dropdown-user.no-caret(
    *ngIf='_userService.user$ | async as user',
    ngbDropdown,
    placement='bottom-right',
    display='dynamic'
)
    a#userDropdown.nav-link(
        *ngIf="user.authState === 'signedin'",
        ngbDropdownToggle,
        data-cy='userMenu',
        role='button',
        aria-haspopup='true',
        aria-expanded='false'
    )
        fa-icon([icon]='["fas", "ellipsis-v"]')
    .dropdown-menu.dropdown-menu-right(
        ngbDropdownMenu,
        aria-labelledby='dropdownUser'
    )
        span
            a.dropdown-item(*ngIf='doorStatus !== undefined && doorStatus !== "OPENED"',(click)="openDoor()", routerLink="/dashboard")
                span(i18n="@@openDoor") Open door
        span
            a.dropdown-item(*ngIf='doorStatus !== undefined && doorStatus !== "CLOSED"',(click)="closeDoor()", routerLink="/dashboard")
                span(i18n="@@closeDoor") Close door
