li.nav-item.dropdown.dropdown-user.no-caret(
    *ngIf='_userService.user$ | async as user',
    ngbDropdown,
    placement='bottom-right',
    display='dynamic'
)
    a#userDropdown.nav-link(
        ngbDropdownToggle,
        data-cy='userMenu',
        role='button',
        aria-haspopup='true',
        aria-expanded='false'
    )
        fa-icon([icon]='["fas", "ellipsis-v"]')
    .dropdown-menu.dropdown-menu-right(
        ngbDropdownMenu,
        aria-labelledby='dropdownUser'
    )
        span([class.disabled]="user.authState !== 'signedin'")
            a.dropdown-item(*ngIf='lightStatus !== undefined && lightStatus !== true',(click)="switchLight(true)", routerLink="/dashboard", [class.disabled]="user.authState !== 'signedin'")
                | Switch light on
        span([class.disabled]="user.authState !== 'signedin'")
            a.dropdown-item(*ngIf='lightStatus !== undefined && lightStatus === true',(click)="switchLight(false)", routerLink="/dashboard", [class.disabled]="user.authState !== 'signedin'")
                | Switch light off
        span([class.disabled]="user.authState !== 'signedin'")
            a.dropdown-item(*ngIf='musicStatus !== undefined && musicStatus !== true',(click)="switchMusic(true)", routerLink="/dashboard", [class.disabled]="user.authState !== 'signedin'")
                | Switch music on
        span([class.disabled]="user.authState !== 'signedin'")
            a.dropdown-item(*ngIf='musicStatus !== undefined && musicStatus === true',(click)="switchMusic(false)", routerLink="/dashboard", [class.disabled]="user.authState !== 'signedin'")
                | Switch music off
        span([class.disabled]="user.authState !== 'signedin'")
            a.dropdown-item(*ngIf='fanStatus !== undefined && fanStatus !== true',(click)="switchFan(true)", routerLink="/dashboard", [class.disabled]="user.authState !== 'signedin'")
                | Switch fan on
        span([class.disabled]="user.authState !== 'signedin'")
            a.dropdown-item(*ngIf='fanStatus !== undefined && fanStatus === true',(click)="switchFan(false)", routerLink="/dashboard", [class.disabled]="user.authState !== 'signedin'")
                | Switch fan off
